<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <a class="navbar-brand"
               ui-sref="home">App Studio</a>
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle nav</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="projectList">Project List</a></li>
                    <li><a ui-sref="addProject"><i class="glyphicon glyphicon-plus"></i>
                        Add Project</a><li>
                    <li><a ui-sref="projectAnalytics">Project Analytics</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view></div>
</div>